---
layout: default
---

<nav class="breadcrumbs">
  <h2>Breadcrumbs</h2>
  <p><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/"><meta itemprop="url" content="{{ siteUrlNoSlash }}/"><span itemprop="title">Home</span></a></span> <i class="fa fa-angle-right"></i> <span><span>Blog</span></span> <i class="fa fa-angle-right"></i> <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ page.url }}"><meta itemprop="url" content="{{ siteUrlNoSlash }}{{ page.url }}"><span itemprop="title">{{ title }}</span></a></span></p>
</nav>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting" itemref="michal-charemza-author michal-charemza-limited-publisher michal-charemza-image">
  <header>
    <h2 itemprop="headline">{{ title }}</h2>
    <p class="post-subtitle" itemprop="description">{{ subtitle }}</p>
    <p class="post-date"><time itemprop="datePublished" datetime="{{ date | isodate }}">{{ date | nicedate }}</time></p>
    {% if extra %}
    <p class="post-extra">{{ extra }}</p>
    {% endif %}
    <link itemprop="mainEntityOfPage" href="{{ siteUrlNoSlash }}{{ page.url }}">
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>

