---
layout: default
title: Michal Charemza's Blog
---

<p>A few of my thoughts on a few web-related issues. Feel free to contact me at <a href="mailto:michal@charemza.name">michal@charemza.name</a> or post a comment.</p>
{% for post in site.posts %}
<div class="posts">
  <div class="post-wrapper"><div class="post">
    <div class="post-header">
      <h2>{{ post.title }}</h2>
      <p class="post-subtitle">{{ post.subtitle }} </p>
      <p class="post-date">{{ post.date | date_to_string }}</p>
    </div>
    <div class="post-content-wrapper"><div class="post-content">
      {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first % }}
      {% else %}
        <p>{{ post.content | strip_html | truncatewords:50 }}</p>
      {% endif %}
      <div class="read-more"><a href="{{ post.url }}" class="with-icon"><i class="icon-arrow-right"></i> <span class="with-icon-text">Read more...</a></div>
    </div></div>
  </div></div>
  <div class="clear"></div>
</div>



{% endfor %}