<div>
  <div ng-if="state == 'loading'">
    <p><i class="icon-spin icon-spinner"></i> Loading...</p>
  </div>
  <div ng-if="state == 'loaded'">
    <h4 class="current-reputation">Current reputation: {{details.user.reputation}}</h4>
    <div ng-if="details.history">
      <ul class="reputation-changes">
        <li ng-repeat="event in details.history">
          <h4>
            <span class="reputation-change {{event.reputation_change > 0 ? 'reputation-change-pos' : 'reputation-change-neg'}}">
            {{event.reputation_change > 0 ? '+' : ''}}
            {{event.reputation_change}}
          </span> 
          <span class="reputation-date-type">
            <span class="reputation-date">{{event.creation_date*1000 | date:'medium'}}</span>
            <span class="reputation-change-type">
               <span ng-if="event.reputation_history_type == 'post_upvoted'">Post upvoted</span>
               <span ng-if="event.reputation_history_type == 'answer_accepted'">Answer accepted</span>
               <span ng-if="event.reputation_history_type == 'answer_unaccepted'">Answer unaccepted</span>
               <span ng-if="event.reputation_history_type == 'asker_accepts_answer'">I accepted an answer</span>
               <span ng-if="event.reputation_history_type == 'asker_unaccept_answer'">I unaccepted an answer</span>
               <span ng-if="event.reputation_history_type == 'suggested_edit_approval_received'">My edit approved</span>
               <span ng-if="event.reputation_history_type == 'post_downvoted'">Post downvoted</span>
               <span ng-if="event.reputation_history_type == 'post_undownvoted'">Post undownvoted</span>
               <span ng-if="event.reputation_history_type == 'association_bonus'">Association bonus</span>
            </span>
          </span>
          <span class="reputation-link" ng-if="details.posts[event.post_id].link">
            <a href="{{details.posts[event.post_id].link}}">
              <span ng-if="details.posts[event.post_id].post_type == 'question'">
                  "{{questions[event.post_id].title}}"
                </span>
                <span ng-if="details.posts[event.post_id].post_type == 'answer'">
                  Answer to "{{questions[answers[event.post_id].question_id].title}}"
                </span>
            </a>
          </span>          
        </h4>
        </li>
      </ul>
    </div>
    <p><i class="icon-arrow-right"></i> <a href="{{details.user.link}}"> View full profile</a></p>
  </div>
  <div ng-if="state == 'error'">
    <p>Error connecting to Stack Exchange.</p>
  </div>
</div>