<nav class="breadcrumbs">
  <h2>Breadcrumbs</h2>
  <p><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/"><meta itemprop="url" content="{{ site.url }}"><span itemprop="title">Home</span></a></span> <i class="fa fa-angle-right"></i> <span><span>Blog</span></span> <i class="fa fa-angle-right"></i> <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/{{ url }}"><meta itemprop="url" content="{{ site.url }}{{ url }}"><span itemprop="title">{{ title }}</span></a></span></p>
</nav>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting" itemref="michal-charemza-author michal-charemza-limited-publisher michal-charemza-image">
  <header>
    <h2 itemprop="headline">{{ title }}</h2>
    <p class="post-subtitle" itemprop="description">{{ subtitle }}</p>
    <p class="post-date"><time itemprop="datePublished" datetime="{{ isodate date }}">{{ nicedate date }}</time></p>
    {{#if extra}}
    <p class="post-extra">{{ safe extra }}</p>
    {{/if}}
    <link itemprop="mainEntityOfPage" href="{{ site.url }}{{ url }}">
  </header>
  <div itemprop="articleBody">
    <%= contents %>
  </div>
  <aside class="comments">
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
    <script>
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'michalcharemza'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
      </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>  
  </aside>
</article>

