/* Colours */
@main-color: #950000;
@text-on-main-color: #ffffff;
@text-on-background: #333333;

/* Fonts */
.main-font() {
	font-family: "proxima-nova-1", "proxima-nova-2";
}
.bold() {
	font-weight: 700;
}
.light() {
	font-weight: 300;
}

/* Spacing */
@large-spacing: 80px;
@medium-spacing: 40px;
@standard-spacing: 20px;
@smaller-spacing: 15px;

/* Times */
@subtle-time: 300ms;

/* Colour combos */
.inverse() {
	background: @main-color;
	color: @text-on-main-color;
	a {
	  color: @text-on-main-color;
	  text-decoration: none;
	  &:hover {
	    text-decoration: underline
	  }
	}
} 
.standard() {
	color: @text-on-background;
}

/* Borders */
.standard-border() {
  border-top: 2px solid @main-color;
}

/* Box Sizing */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Main Layout */
html {
  height: 100%
}
body {
  min-height: 100%;
}
html, body {
  padding: 0
}

body {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.page-sidebar {
  display: table-cell;
}
.page-sidebar, .page-sidebar-content {
	width: 33.333333%;
  height: 100%;
}
.page-content {
	width: 66.666666%;
  display: table-cell;
}
.page-content-inner {
  max-width: 760px;
}

/* Sidebar Position */
.page-sidebar {
  position: relative;
}
.page-sidebar-content {
  top: 0;
  position: fixed;
}

@media (max-width: 767px) {
  body {
    display: block;
  }
  .page-sidebar, .page-content-inner, .page-sidebar-content, .page-content {
    width: 100%;
    display: block;
    max-width: none;
    float: none;
    position: static;
  }
}

/* Main Fonts */
html body {
	.main-font();
	line-height: 1.5em;
}

/* Main Spacing */
.page-content-inner {
	padding: @large-spacing;
  @media (max-width: 767px) {
    padding: @standard-spacing @medium-spacing;
  }
  @media (max-width: 480px) {
    padding: @standard-spacing;
  }
}
.page-sidebar-content {
	padding-top: @large-spacing;
  @media (max-width: 767px) {
    padding: @standard-spacing @medium-spacing;
  }
  @media (max-width: 480px) {
    padding: @standard-spacing;
  }
}

/* Common Spacing */
p, ul, nav {
	margin-bottom: @smaller-spacing;
  &:last-child {
    margin-bottom: 0;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  h2 {
    display: none
  }
}

/* In page nav */
.page-content {
  nav {
    h3 {
      display: none;
    }
  }
}

/* Sidebar */
.page-sidebar {
 	.inverse();
 	.light();
 	text-align: center;
  .page-sidebar-content > a {
    display: block;
    margin-bottom: @standard-spacing;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
 	h1 {
 	  .bold();
 	  font-size: 30px;
 	  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    @media (max-width: 991px) {
      font-size: 25px;
    }
    @media (max-width: 480px) {
      font-size: 20px;
    }
 	}
 	img {
	  border-radius: 62.5px;
	  border: 3px solid white; 	
    @media (max-width: 767px) {
      height: 75px;
      width: 75px;
    }
    @media (max-width: 480px) {
      height: 50px;
      width: 50px;
    }
 	}
 	h1 + p {
 	  font-size: 14px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
    @media (max-width: 480px) {
      display: none;
    }
 	}
  @media (max-width: 767px) {
    p {
      margin-bottom: 0;
      font-size: 14px;
    }
    text-align: left;
    .photo {
      float: right;
      margin-left: @standard-spacing;
    }
  }

}

/* Post Summary + Post Header */
.post-summary, .post > header {
  h2 {
  	.bold();
  	font-size: 26px;
  }
  p.post-subtitle {
    margin-bottom: 0;
  }
  & > a {
	  display: block;
	  text-decoration: none;
	  .standard();
    &:hover, &:focus {
      i {
        color: @main-color; 
        right: -3px;
      }
      h2 {
        color: @main-color;
      }
    }
    &:active {
      position: relative;
      top: 1px;
      left: 1px;
    }
	}
  i {
    float: right;
    font-size: 40px;
    line-height: 40px;
    transition: right @subtle-time;
    -webkit-transition: right @subtle-time;
    position: relative;
    right: 0;
    top: -7px; /* Tweak */
  }
  .standard-border();
  padding-top: @standard-spacing;
  padding-bottom: @standard-spacing;
}

/* Post Summary Only */
.post-summary {
  header {
    margin-bottom: @standard-spacing;
  }
}

/* Post */
.post {
  h3 {
    font-size: 20px;
    .bold();
    .standard-border();
    padding-top: @standard-spacing;
    margin-top: @standard-spacing;
    margin-bottom: @standard-spacing/2;
  }
  margin-bottom: @standard-spacing;
}

/* Comments */
.comments {
  .standard-border();
  margin-top: @standard-spacing;
  padding-top: @standard-spacing;
  h3 {
    display: none;
  }
}

/* Inline Code */
.inline {
	display: inline;
}
code.inline {
	background: #efefef;
}

/* Code Font */
.highlight, code, pre {
	font-family: "source-code-pro-1", "source-code-pro-2"; font-size: 13px;
}
.highlight {
  background: #efefef;
	overflow-x: scroll;
  margin-bottom: @standard-spacing;
}
pre {
  padding: @standard-spacing/2;
}

/* Quote */
blockquote {
  background: #efefef;
  margin-bottom: @standard-spacing;
  padding: @standard-spacing/2;
  cite {
    display: block;
    text-align: right;
  }
}

/* Reputation */
.reputation {
  height: 24px;
  .icon-link-text {
    font-size: 14px;
  }
  @media (max-width: 767px) {
    float: right;
    margin-top: -24px;
  }
  @media (max-width: 480px) {
    margin-top: -12px;
  }
  @media (max-width: 380px) {
    display: none;
  }
}
.reputation span.from-server.ng-enter {
  -webkit-transition: opacity @subtle-time;
  transition: opacity @subtle-time;
  opacity: 0;
}
.reputation span.from-server.ng-enter.ng-enter-active {
  opacity: 1
}

/* Icon Links */
i.fa:before {
  display: inline-block;
  text-decoration: none;
}
a > i {
  margin-right: 5px
}

iframe {
  display: block;
  width: 100%;
  min-height: 300px;
  margin-bottom: @standard-spacing;
}
