<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  {% if page.title %}
  <title>{{ page.title }} - {{ site.name }}</title>
  {% else %}
  <title>{{ site.name }} - Full stack web developer</title>
  {% endif %}
  <meta name="description" content="{{ page.subtitle }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
  {% javascript html5shiv %}
  <![endif]-->
  {% stylesheet site %}
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js" defer></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-animate.min.js" defer></script>
  {% javascript reputation defer %}
  <link rel="shortcut icon" href="{% asset_path favicon.ico %}">
</head>
<body itemscope itemtype="http://schema.org/WebPage">
  <header class="page-sidebar" id="michal-charemza-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <div class="page-sidebar-content">
      <a href="/">
        <p class="photo"><img alt="Michal Charemza" src="{% asset_path michal-charemza.jpeg %}" width="125" height="125" itemprop="image"></p>
        <h1 itemprop="name">Michal Charemza</h1>
        <p itemprop="jobTitle">Full stack web developer</p>
      </a>
      <p class="reputation" data-ng-app="reputation" data-reputation data-user-id="1319998" data-site="stackoverflow.com" data-key="IuEWeQbgKqLACgi0FNMcOQ(("></p>
      <p><a href="mailto:michal@charemza.name"><span itemprop="email">michal@charemza.name</span></a></p>
    </div>
  </header>
  <div class="page-content"><div class="page-content-inner">
      {{content}}
  </div></div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38006161-1', 'charemza.name');
  ga('send', 'pageview');
  </script>
</body>
</html>