/* Colours */
$main-color: #950000;
$text-on-main-color: #ffffff;
$text-on-background: #333333;

/* Spacing */
$large-spacing: 80px;
$medium-spacing: 40px;
$standard-spacing: 20px;
$smaller-spacing: 15px;

/* Times */
$subtle-time: 300ms;

/* Fonts */
$light: 300;
$regular: 400;
$bold: 700;

$breakpoint-small: 400px;
$breakpoint-medium: 500px;

/* Colour combos */
@mixin inverse() {
	background: $main-color;
	color: $text-on-main-color;
	a {
	  color: $text-on-main-color;
	  text-decoration: none;
	  &:hover {
	    text-decoration: underline
	  }
	}
} 

/* Borders */
@mixin standard-border() {
  border-top: 2px solid $main-color;
}

@mixin light-border() {
  border-top: 2px solid #e7e9ee;
}

/* Box Sizing */
* {
  box-sizing: border-box;
}

/* Main Layout */
html {
  height: 100%;
  overflow-y: scroll;
}

html, body {
  padding: 0
}

/* Main Fonts */
body {
  font-family: "ProximaNova";
  font-weight: $regular;
	line-height: 1.5em;
}

em {
  font-style: italic;
}

h1 {
  font-weight: $bold;
  font-size: 20px;
  line-height: inherit;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  margin-bottom: 0.2em;
  @media (min-width: $breakpoint-medium) {
    font-size: 30px;
  }
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.page-header-inner,
.page-content-inner,
footer {
  max-width: 700px;
  margin: 0 auto;
}

.page-header {
  padding: $standard-spacing;
  @include inverse();
  font-weight: $light;
}

.page-header-inner {
  display: flex;
  justify-content: space-between;
}

.page-header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-header-right {
  display: flex;
  align-items: center;
}

.page-header-p {
  margin: 0;
}

footer {
  @include light-border();
  padding-top: 5px;
  padding-bottom: $smaller-spacing;
}

.footer-logo {
  height: 15px;
  width: auto;
}

.endorsements {
  @media (min-width: $breakpoint-small) {
    margin-right: 15px;
  }
}

.links {
  display: none;
  @media (min-width: $breakpoint-small) {
    display: block;
    height: 24px;
    text-align: right;
  }
  @media (min-width: $breakpoint-medium) {
    font-size: 12px;
  }
}

.linkedin,
.twitter {
  opacity: 0.9;
  position: relative;
  top: 1px;
  &:hover {
    opacity: 1;
  }
}

.certification {
  display: none;
  @media (min-width: $breakpoint-small) {
    display: none;
  }
  @media (min-width: $breakpoint-medium) {
    display: block;
    margin-bottom: 5px;
  }
}

.job-title {
  display: none;
  @media (min-width: $breakpoint-medium) {
    display: block;
  }
}

.avatar {
  border-radius: 62.5px;
  border: 3px solid white;
  display: block;

  height: 50px;
  width: 50px;
  border-radius: 25px;
  @media (min-width: $breakpoint-medium) {
    height: 80px;
    width: 80px;
    border-radius: 40px;
  }
}

.page-content {
  padding: $standard-spacing;
}

footer {
  font-size: 14px;
}

/* Common Spacing */
p, ul, nav {
	margin-bottom: $smaller-spacing;
  &:last-child {
    margin-bottom: 0;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  i {
    width: 10px;
    text-align: center;
  }
  h2 {
    display: none
  }
}

/* In page nav */
.page-content {
  nav {
    h3 {
      display: none;
    }
  }
}

/* Post Summary + Post Header */
.post-summary, .post > header {
  h2 {
    font-weight: $bold;
  	font-size: 22px;
    margin-bottom: 0.2em;
    @media (min-width: $breakpoint-medium) {
      font-size: 26px;
    }
  }
  p.post-subtitle {
    margin-bottom: 0;
  }
  & > a {
	  display: block;
	  text-decoration: none;
    color: inherit;
    &:hover, &:focus {
      i {
        color: $main-color; 
        right: -3px;
      }
      h2 {
        color: $main-color;
      }
    }
    &:active {
      position: relative;
      top: 1px;
      left: 1px;
    }
	}
  i {
    float: right;
    font-size: 40px;
    line-height: 40px;
    transition: right $subtle-time;
    position: relative;
    right: 0;
    top: -7px; /* Tweak */
  }
  @include standard-border();
  padding-top: $standard-spacing;
  padding-bottom: $standard-spacing;
}

/* Post */
.post {
  h3 {
    font-size: 20px;
    font-weight: $bold;
    @include standard-border();
    padding-top: $standard-spacing;
    margin-top: $standard-spacing;
    margin-bottom: $standard-spacing/2;
  }
  h4 {
    font-weight: $bold;
  }
  margin-bottom: $standard-spacing;
}
.post-date {
  margin-bottom: 0;
}
.post-date,
.post-extra {
  line-height: 1.5;
  font-size: 80%;
}

/* Links */
.with-inner-link {
  text-decoration: none;
}
.inner-link {
  text-decoration: underline;
}

/* Comments */
.comments {
  @include standard-border();
  margin-top: $standard-spacing;
  padding-top: $standard-spacing;
  h3 {
    display: none;
  }
}

/* Inline Code */
.inline {
	display: inline;
}
code.inline {
	background: #efefef;
}

/* Code Font */
.highlight, code, pre {
	font-family: "Source Code Pro";
  font-size: 13px;
}
.highlight {
  background: #efefef;
	overflow-x: auto;
  margin-bottom: $standard-spacing;
}
pre {
  padding: $standard-spacing/2;
}

/* Quote */
blockquote {
  background: #efefef;
  margin-bottom: $standard-spacing;
  padding: $standard-spacing/2;
  cite {
    display: block;
    text-align: right;
  }
}

/* Icon Links */
i.fa:before {
  display: inline-block;
  text-decoration: none;
}
a > i,
.fa-stack-overflow {
  margin-right: 5px
}

iframe {
  display: block;
  width: 100%;
  min-height: 300px;
  margin-bottom: $standard-spacing;
}

.gist {
  font-size: inherit;
}
